/* natural box model */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Custom Styles Here */


/*
  }
  button {
    background-color: blue;

    
  }

  p{
    background-color: red;
    
  }    */

  .container { display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 100%; 
    text-align: center; 
    margin: 15% 0; }