/* natural box model */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Custom Styles Here */

  body{
    font-family: 'BioRhyme', serif;
    background-color: beige;
    text-align:center;
  }

  .display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
  }

.images{
  height: 220px;
  width: 200px;
  border: 3px outset cadetblue;
  border-radius: 12px;
  background-color: #7FDBFF;

}

.logo { 
  height: 150px;
  width: 150px;
}

.logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.logo:active {
  transform: scale(1.02);
  cursor: pointer;
}

#searcher{
  text-align: center;
  padding: 20px;
}

input[type = text]{
  height: 50px;
  width: 400px;
}
input[type = submit]{
  color: white;
  background-color: lime;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 5px black;
  height: 50px;
  width: 100px;
}
input[type = submit]:active{
  transform: scale(1.02);
  outline: none;
}
input[type = submit]:focus{
  outline: none;
}

.legend{
  position: relative;
  background-color: white;
  border: 5px inset beige;
  border-radius: 20px;
  height: 10%;
  width: 25%;
  text-align: center;
}

ul{
  list-style-type: none;
  text-align: left;
}

/*Outer/Inner from Modal lesson in class*/
.outer {
  display: grid;
  background: rgba(8, 165, 238, 0.795);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  pointer-events: none;
  transition: opacity 0.2s;
}
/* action: add/remove .open to .modal-outer */
.outer.open {
  opacity: 1;
  pointer-events: all;
}
.inner {
  max-width: 90vw;
  min-width: 400px;
  padding: 10px;
  border-radius: 10px;
  min-height: 200px;
  max-height: 98vh;
  box-shadow: 5px 5px 5px black;
  background: blanchedalmond;

  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-x: scroll;
}
.outer.open .inner {
  transform: translateY(0);
}

.badge{
  position: absolute;
  height: 200px;
  width: 250px;

  max-width: 25vw;
  max-height: 25vh;
  top: 8px;
  left: 16px;

}
.pic{
  position: absolute;
  height: 200px;
  width: 250px;
  max-width: 25vw;
  max-height: 25vh;
  top: 8px;
  right: 16px;
  border-radius: 10px;
}

#randbutton{
  background-color: #7FDBFF;
  padding:14px 40px;
  font-size:large;
  margin-bottom: 10px;

}

#randbutton:active{
  transform: scale(1.02);
  outline: none;
}
#randbutton:focus{
  outline: none;
}