/* natural box model */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body{
    background-color: honeydew;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    letter-spacing: 2px;

}


.menu{
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
}

.outer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-item {
    flex: 1 0 21%;
    color: #fefefe;
    margin: 10px;
    height: 300px;
    background-repeat: no-repeat ;
    cursor: pointer;
}

.menu-item:hover {
opacity: 0.9;
}

.selected-item{
    background-color: red;
    width: 70vw;
    padding: 10px 10px;
    margin: 30px auto;
    border-radius: 5px;
    color: white;

}