/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    background-color: #bdcebe;
  }

  .container { display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 60%; 
    height: 100%;
    background-color: #d6cbd3;
    text-align: center; 
    border-radius: 5px;
    border: 5px outset;
    border-color:#d6cbd3;
}

textarea {
  width: 50%;
}