/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: salmon;
    font-family: 'Titillium Web', sans-serif;
}

input{
    height:200x;
    width:200px;
}

ul{
    list-style-type: none;
}