/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* Custom QUIZ styling */
body{
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
    
}
h1{
    text-align: center;
    color: goldenrod;
}

.quiz{
    color: black;
    border: 18px inset rgba(221, 224, 22, 0.32);
    border-radius: 21px 21px 21px 21px;

    background-color:RGB(239, 192, 80) ;

}
.marker{
    text-align: center;
}


input{
    height: 125px;
    width: 125px;
}

input:hover{
    height: 150px;
    width: 150px;
}

ul{
    list-style-type: none;
}

.circle{
    height: 25px;
    width:25px;
    border-radius: 50%;
    border: 3px solid black;
    display: inline-block;
    background-color: white;
}

#reset{
    height: 300px;
    width: 250px;

}
#reset:hover{
    height: 315px;
    width: 265px;
}


